<h2>All Pokemon <a href="/trainers">All Trainers</a></h2>
<p><a href="pokemons/new">New Pokemon</a></p>
<% @pokemons.each do |pokemon| %>
	<p><a href="pokemons/<%= pokemon.id %>"><%= pokemon.name %></a></p>
<% end %>
