<h2><a href="/pokemons">All Pokemon</a></h2>
<h2>Create New Pokemon</h2>

<form action="/pokemons" method="post" >
  <label>Name:</label>
  <input name="pokemon[name]">
  <label>Type:</label>
  <input name="pokemon[poke_type]">
  <label>POWAH!:</label>
  <input name="pokemon[cp]">
  <br/>
  <label>Img URL:</label>
  <input name="pokemon[img_url]">
   <label>Trainer ID:</label>
  <input name="pokemon[trainer_id]">

  <input type="submit" value="Create">
</form>