<h2>All Trainers <a href="/pokemons">All Pokemon</a></h2>
<p><a href="trainers/new">New Trainer</a></p>
<% @trainers.each do |trainer| %>
	<p><a href="trainers/<%= trainer.id %>"><%= trainer.name %></a></p>
<% end %>
