<h2><a href="/trainers">All Trainers</a>&nbsp<a href="/pokemons">All Pokemon</a></h2>
<h2>Create New Trainer</h2>

<form action="/trainers" method="post" >
  <label>Name:</label>
  <input name="trainer[name]">
  <label>Level:</label>
  <input name="trainer[level]">
  <label>Img URL:</label>
  <input name="trainer[img_url]">

  <input type="submit" value="Create">
</form>